/* @styled-jsx=scoped */

.debug-readout {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.debug-boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.debug-box {
  padding: 1rem;
  margin: 0.5rem;
  background: #0c479d;
  color: white;
  min-width: 10rem;
}

.mock-ui {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.knob-container {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  background: red;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: block;
}
